[submodule "challenge_09_bindcrafting"]
	path = challenge_09_bindcrafting
	url = https://aqua.aws.codeocean.dev/capsule-5372812.git
[submodule "challenge_10_neurobase_foundation_model_evaluation"]
	path = challenge_10_neurobase_foundation_model_evaluation
	url = https://aqua.aws.codeocean.dev/capsule-4973013.git
[submodule "challenge_11_abc_atlas_literature_assistant"]
	path = challenge_11_abc_atlas_literature_assistant
	url = https://aqua.aws.codeocean.dev/capsule-2740751.git
[submodule "challenge_12_brain_map_bkp_assistant"]
	path = challenge_12_brain_map_bkp_assistant
	url = https://aqua.aws.codeocean.dev/capsule-4161944.git
[submodule "challenge_13_croissant_pipeline"]
	path = challenge_13_croissant_pipeline
	url = https://aqua.aws.codeocean.dev/capsule-1915445.git
[submodule "challenge_14_segment_intestine_villi"]
	path = challenge_14_segment_intestine_villi
	url = https://aqua.aws.codeocean.dev/capsule-5175648.git
[submodule "challenge_15_allen_single_cell_model_pantry"]
	path = challenge_15_allen_single_cell_model_pantry
	url = https://aqua.aws.codeocean.dev/capsule-4359564.git
[submodule "challenge_16_scidex"]
	path = challenge_16_scidex
	url = https://aqua.aws.codeocean.dev/capsule-6182444.git
